<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-css-only@4.1.1/css/bootstrap.min.css">
    <style>
        .table th,
        .table td {
            padding: 8px;
            font-size: 14px;
            line-height: 20px
        }

        .table-responsive {
            display: block;

            margin: 10px auto;
            width: 90%;
            max-width: 1024px;

        }
    </style>
</head>

<body>
    <div class="table-responsive ">
        <table class="table">
            <thead>
                <tr>
                    <th>卖家</th>
                    <th>买家</th>
                    <th>日期</th>
                    <th>标题</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    {# Each "order" is a order model object. #}
                    <td>{{ order.seller }}</td>
                    <td>{{ order.buyer }}</td>
                    <td>{{ order.trade_date|date:'Y-m-d h:mA' }}</td>
                    <td>{{ order.item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <ul class="pagination justify-content-center">
            {% if orders.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page=1">&lt;&lt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.previous_page_number }}">&lt;</a>
            </li>
            {% endif %}
            {% for pg in page_range %}
            {% if orders.number == pg %}
            <li class="page-item active">
                <a class="page-link" href="?page={{pg}}">{{pg}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{pg}}">{{pg}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if orders.has_next %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ orders.next_page_number }}">&gt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.paginator.num_pages }}">&gt;&gt;</a>
            </li>
            {% endif %}
        </ul>
    </div>
</body>

</html>