<table>
{% for order in orders %}
    <tr>
    {# Each "order" is a order model object. #}
    <td>{{ order.id }}</td>
    <td>{{ order.seller }}</td>
    <td>{{ order.buyer }}</td>
    <td>{{ order.trade_date }}</td>
    <td>{{ order.item }}</td>
  
</tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if orders.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ orders.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
        </span>

        {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}">next</a>
            <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>