<html>

<head>
    <title>TomPDA交易历史</title>
    <link rel="stylesheet" href="https://dnbwg.oss-cn-hongkong.aliyuncs.com/base.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-css-only@4.1.1/css/bootstrap.min.css">
    <style>
        .table th,
        .table td {
            padding: 8px;
            font-size: 14px;
            line-height: 20px
        }

        .table-responsive,  #searchbox {
            display: block;
            margin: 10px auto;
            width: 90%;
            max-width: 1024px;
        }
    </style>
</head>

<body>
    <nav style="position: relative; z-index: 2; width:100%">
        <ul>
            <li>
                <a href="#" onclick="reset()">TomPDA查询</a>
            </li>
            <li>
                <a href="http://www.dnbwg.com">电脑博物馆</a>
            </li>
            <li>
                <a href="https://zhuanlan.zhihu.com/retrocomputing">知乎专栏</a>
            </li>
        </ul>
    </nav>
    <div id="searchbox">
        用户 <input id="txtTrader" type="text" name="trader">
        标题 <input id="txtKeyword" type="text" name="keyword">
        <button onclick="search()">搜索</button>
        <button onclick="reset()">重置</button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-left">卖家</th>
                    <th class="text-left">买家</th>
                    <th class="text-left"><a href="{{change_order_link}}">日期</a></th>
                    <th class="text-left">标题</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    {# Each "order" is a order model object. #}
                    <td>{{ order.seller }}</td>
                    <td>{{ order.buyer }}</td>
                    <td class="text-nowrap">{{ order.trade_date|date:'Y-m-d h:mA' }}</td>
                    <td>{{ order.item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <ul class="pagination">
            {% if orders.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page=1">««</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.previous_page_number }}">«</a>
            </li>
            {% endif %}
            {% for pg in page_range %}
            {% if orders.number == pg %}
            <li class="page-item active">
                <a class="page-link" href="?page={{pg}}{{paging_link_tail}}">{{pg}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{pg}}{{paging_link_tail}}">{{pg}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if orders.has_next %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ orders.next_page_number }}{{paging_link_tail}}">»</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ orders.paginator.num_pages }}{{paging_link_tail}}">»»</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <script type="text/javascript">
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
            console.log('Query variable %s not found', variable);
        }
        function search() {
            var trader = document.getElementById("txtTrader").value.trim();
            var keyword = document.getElementById("txtKeyword").value.trim();
            var newSearch = "";
            if (trader && trader.length > 0) {
                newSearch += "&trader=" + trader;
            }
            if (keyword && keyword.length > 0) {
                newSearch += "&keyword=" + keyword;
            }
            newSearch.replace('&', '?')
            window.location.search = newSearch;
            document.getElementById("txtTrader").value = '';
            document.getElementById("txtKeyword").value = '';
        }
        function reset() {
            document.getElementById("txtTrader").value = '';
            document.getElementById("txtKeyword").value = '';
            window.location.search = "";
        }
    </script>

</body>

</html>